@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 1fr;
    align-items: center;

}

h1, p {
    text-align: center;
}

p {
    font-size: 1.3rem;
}

.board {
    /* border: 1px dashed lightgray; */
    background-color: black;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1px;
    margin: auto;
    width: 500px;
    height: 500px;
}

.board > * {
    border: none;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
}